@import '../variables';
#banned {
  width: 80vw;
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  text-align: center;

  p {
    font-size: 1.5rem;
    display: inline-block;
    button {
      margin-left: 5px;
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      svg {
        width: inherit;
        height: inherit;
        fill: $white;
      }
    }
  }
}
