@import '../variables';
.comment {
  width: 80%;
  margin: 30px 10%;
  .title-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    span {
      font-weight: normal;
      font-family: 'Forum';
    }
    p:not(.likes) {
      border-bottom: 2pt solid $white;
    }
    p {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    .likes {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 10px;
      p {
        margin: 0;
        margin-left: 3px;
      }
    }
  }
  button,
  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $white;
  }

  .comment-content {
    font-size: 1.3rem;
  }

  .reply-bar {
    position: relative;
    display: block; // to be: block
    opacity: 0; // to be: 1
    width: 80%;
    margin-left: 10%;
    margin-top: -1.6rem; // to be: 10px
    transition: 0.2s all ease-in-out;

    input {
      width: calc(100% - 105px);
      border-bottom: 2pt solid $white;
      font-family: 'Markazi text';
      font-size: 1.4rem;
      padding: 0.1rem 65px 0.1rem 0;
    }
    button[type='submit'] {
      position: absolute;
      top: 0;
      right: 5px;
      background: none;
      border: none;
      fill: $white;
      margin: 0;
      padding: 0;
      cursor: pointer;

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .char-limit {
      position: absolute;
      top: 0.1rem;
      right: 40px;
      font-size: 1.4rem;
      opacity: 0.8;
      @media #{$mq-phone} {
        font-size: 0.8rem;
      }
    }
  }
}

.comment-reply {
  width: 80%;
}
