@import '../variables';
#contact {
  .card {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @media #{$mq-phone} {
      top: 50%;
      width: 100vw;
    }

    p {
      margin: 0 0 10px;

      &:nth-child(1) {
        font-family: 'Forum', serif;
        font-size: 2.5rem;
        @media #{$mq-phone} {
          font-size: 2rem;
        }
      }
    }

    a {
      font-size: 1.7rem;
      text-decoration: none;
      @media #{$mq-phone} {
        font-size: 1.5rem;
      }
    }

    .separator {
      vertical-align: middle;
      margin: -10px 5pt 0;
      height: 3rem;
      width: 2pt;
      background: $white;
      display: inline-block;
      @media #{$mq-phone} {
        height: 2rem;
      }
    }

    .role {
      font-family: 'Markazi text', serif;
      font-size: 2.7rem;
      @media #{$mq-phone} {
        font-size: 2rem;
      }
    }
  }

  .priv-btn {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    border-bottom: 2pt solid $white;
    font-family: 'Markazi text';
    font-size: 1.6rem;
    line-height: 1.3rem;
  }
}
