@import '../variables';
#landing {
  * {
    text-align: center;
  }
  h1 {
    text-transform: capitalize;
    font-size: 5rem;
    margin-top: 3%;

    @media #{$mq-phone} {
      margin-top: 25%;
      font-size: 3rem;
    }
  }
  p {
    width: 70%;
    max-width: 1400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    line-height: 2.1rem;
    @media #{$mq-phone} {
      position: relative;
      top: unset;
      left: unset;
      transform: none;
      margin-top: 8%;
      width: 80vw;
      margin-left: 10vw;
      font-size: 1.5rem;
    }
  }
  .button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2.5pt solid $white;
    line-height: 35px;
    transition: 0.05s all;
    &:hover {
      border-bottom: 4pt solid $white;
    }
    @media #{$mq-phone} {
      display: inline-block;
      font-size: 2rem;
      line-height: 1.7rem;
      position: relative;
      top: unset;
      left: unset;
      transform: translateX(-50%);
      margin: 50px 0 100px 50vw;
    }
  }
}
