#landing {
  * {
    text-align: center;
  }
  h1 {
    text-transform: capitalize;
    font-size: 5rem;
    margin-top: 5%;
  }
  p {
    width: 70%;
    max-width: 1400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
  .button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2.5pt solid #fff;
    line-height: 35px;
    transition: 0.05s all;
    &:hover {
      border-bottom: 4pt solid #fff;
    }
  }
}
