@import "../variables";
#landing {
  * {
    text-align: center;
  }
  h1 {
    text-transform: capitalize;
    font-size: 5rem;
    margin-top: 8%;

    @media #{$mq-phone} {
      margin-top: 14%;
      font-size: 3rem;
    }
  }
  p {
    width: 70%;
    max-width: 1400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    @media #{$mq-phone} {
      top: 50%;
      font-size: 1.5rem;
    }
  }
  .button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2.5pt solid $white;
    line-height: 35px;
    transition: 0.05s all;
    &:hover {
      border-bottom: 4pt solid $white;
    }
    @media #{$mq-phone} {
      font-size: 2rem;
      line-height: 1.7rem;
      top: 85%;
    }
  }
}
