@import '../variables';
#search {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;

  svg {
    fill: $white;
    width: 35px;
    height: 35px;
    margin-left: 4pt;
    align-self: flex-end;
  }

  input {
    background: none;
    border: none;
    border-bottom: 2.25pt solid $white;
    color: $white;
    padding: 2pt 0;
    font-family: 'Markazi Text';
    font-size: 1.4rem;
  }
}

.matched {
  background: $white;
  color: $bg;
}
