@import '../variables';
#search {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;

  svg {
    fill: $white;
    width: 35px;
    height: 35px;
    margin-left: 4pt;
    align-self: flex-end;
  }

  input {
    background: none;
    border: none;
    border-bottom: 2.25pt solid $white;
    color: $white;
    padding: 2pt 0;
    font-family: 'Markazi Text';
    font-size: 1.4rem;
  }
}

#list {
  .list-container {
    width: 700px;
    .year-heading {
      display: flex;
      flex-direction: row;
      margin: 20px 0;
      h2 {
        width: 50pt;
        text-align: center;
        font-size: 1.8rem;
      }
    }
    .list-line {
      display: block;
      width: calc(100% - 50pt);
      height: 2pt;
      background: $white;
      align-self: center;
    }
    .novel-card {
      position: relative;
      margin-left: 50pt;
      * {
        text-decoration: none;
        margin: 0;
        padding: 0;
      }

      h3 {
        font-size: 3rem;
        vertical-align: top;
        line-height: 2.4rem;
      }

      .novel-lore {
        font-size: 1.5rem;
        width: calc(100% - 50pt);
        margin: 20px 0;
      }

      .list-line {
        width: 100%;
        height: 1.7pt;
        background: $white;
        align-self: center;
        margin: 20px 0;
      }

      .date-cont {
        position: absolute;
        top: 0;
        left: -25pt;
        transform: translateX(-50%);
        border: 1.5pt solid $white;
        border-radius: 3px;
        padding: 3pt 5pt 3pt 5pt;
        * {
          margin: 0;
          padding: 0;
          text-align: center;
        }
        .date-mon {
          text-transform: uppercase;
          line-height: 0.9rem;
        }
        .date-day {
          font-size: 1.4rem;
          line-height: 0.6rem;
          margin-bottom: 0.6pt;
        }
      }
    }
  }
  .only {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .dual {
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
    left: 25%;
  }
  .dual-en {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translateX(-50%);
  }
}

.matched {
  background: $white;
  color: $bg;
}
