@import "../variables";

#login {
  #login-social {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media #{$mq-phone} {
      width: 100vw;
      text-align: center;
    }

    svg {
      fill: $white;
      width: 45px;
      height: 45px;
      margin: 0 30px;
      padding: 0;
      cursor: pointer;
      transition: 0.1s all linear;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  #form-cont {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
    @media #{$mq-phone} {
      transform: translate(-50%, -50%);
      top: 60%;
      width: 80vw;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 50vh;
      width: 35%;

      h3 {
        text-align: center;
        font-size: 1.5rem;
        @media #{$mq-phone} {
        }
      }

      input {
        box-sizing: border-box;
        background: none;
        background-image: none;
        border: none;
        margin: 0;
        padding: 0;
        font-family: "Markazi text", serif;
        font-size: 1.8rem;
        line-height: 1.6rem;
        align-self: center;
        border-bottom: 2.5pt solid $white;
        transition: 0.1s all ease-in-out;

        &[type="submit"] {
          cursor: pointer;
        }
      }

      .form-group {
        display: flex;
        position: relative;
        flex-direction: column;
        transition: 0.2s all ease-in-out;

        input {
          border-bottom: 2pt solid $white;
          font-size: 1.3rem;
          line-height: 1rem;
          margin: 20px 0;
          align-self: stretch;
          transition: 0.1s all ease-in-out;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      #reg-password {
        margin-bottom: 0;
        padding-right: 25px;
      }

      .show-pass {
        button {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0;
          padding: 0;
          cursor: pointer;
          background: none;
          border: none;
          outline: none;
          fill: $white;

          svg {
            width: 22px;
            height: 22px;
          }

          svg.show-pass-eye {
            fill: none;
            stroke: $white;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 32px;

            circle {
              stroke-miterlimit: 10;
            }
          }
        }
      }

      .pass-validation {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(105%, 50%);
        margin: 0;
        padding: 0;
        transition: 0.2s all ease-in-out;

        li {
          margin: 0;
          margin-left: 25px;
          padding: 0;

          p {
            margin: 0;
            padding: 0;
            font-size: 1.3rem;
            position: relative;
            display: inline-block;
            transition: 0.2s all ease-in-out;

            span {
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              height: 1.5pt;
              width: 0%;
              background: $white;
              transition: 0.3s all ease-in-out;
            }
          }
        }
      }

      .form-group-login {
        position: relative;
        transition: 0.2s all ease-in-out;

        input {
          border-bottom: 2pt solid $white;
          font-size: 1.3rem;
          line-height: 1rem;
          margin-top: 40px;
          width: 100%;
          display: inline-block;
          transition: 0.1s all ease-in-out;
        }

        button {
          border: none;
          background: none;
          margin: 0;
          padding: 0;
          font-family: "Markazi text", serif;
          font-size: 1.2rem;
          text-decoration: underline;
          float: right;
          cursor: pointer;
          @media #{$mq-phone} {
            white-space: nowrap;
          }
        }

        button.forgot-back {
          float: left;
        }

        p.login-response {
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: -40%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 1.3rem;
          color: $alert;
          transition: 0.1s all ease-in-out;
          opacity: 0;
        }

        p.forgot-instructions {
          margin: 30px 0;
          text-align: center;
          font-size: 1.2rem;
        }

        p.forgot-success {
          text-align: center;
          font-size: 2rem;
          vertical-align: middle;
        }
      }
    }
  }
}
