@import '../variables';
#novel {
  .novel-header {
    position: absolute;
    top: 1%;
    left: 1%;
    .novel-title {
      position: relative;
      font-size: 4rem;
    }
    input {
      width: 50vw;
      background: none;
      border: none;
      font-family: 'Forum';
      font-size: 4rem;
      border-bottom: 3pt solid $white;
    }
    .novel-date {
      display: block;
      margin-top: 10px;
      font-size: 1.6rem;
      font-weight: 200;
      letter-spacing: 1px;
    }
    .favorite {
      display: inline;
      margin-left: 20px;
      cursor: pointer;
    }
    svg {
      height: 2.6rem;
      width: 2.6rem;
      fill: $white;
      vertical-align: middle;
      margin-bottom: 6px;
    }
    .fav-popup {
      display: inline;
      font-family: 'Markazi text';
      font-size: 1.5rem;
      vertical-align: middle;
      transition: 0.2s all ease-in-out;
      span {
        display: inline-block;
        width: 20px;
        height: 1pt;
        background: $white;
        vertical-align: middle;
        margin-left: 20px;
        margin-right: 10px;
      }
      a {
        margin-left: 10px;
      }
    }
    .admin-actions {
      display: inline;
      margin-left: 20px;
      button {
        display: inline;
        vertical-align: middle;
        margin: 0 5px;
        padding: 0;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    .admin-delete-confirm {
      display: inline;
      font-family: 'Markazi text';
      font-size: 1.5rem;
      vertical-align: middle;
      transition: 0.2s all ease-in-out;
      span {
        display: inline-block;
        width: 17px;
        height: 1pt;
        background: $white;
        vertical-align: middle;
        margin-left: 10px;
        margin-right: 10px;
      }
      button {
        margin: 0;
        padding: 0;
        margin-left: 10px;
        font-size: 1.3rem;
        text-decoration: underline;
      }
      button.delete {
        color: $alert;
      }
    }
  }
  .novel-back {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 1.8rem;
    text-decoration: none;
    color: $white;
  }
  .novel-content {
    padding: 40px;
    margin-top: calc(20% - 40px);
    text-align: center;
    width: 60%;
    margin-left: calc(20% - 40px);
    font-size: 1.7rem;
    letter-spacing: 0.1px;
    line-height: 2rem;

    br {
      margin-bottom: 20px;
    }
  }

  .content-editable {
    border: 4pt dashed $white;
    background: none;
    font-family: 'Markazi text';
    resize: none;
    overflow: auto;
  }

  .edit-actions {
    float: right;
    text-align: right;
    font-size: 1.6rem;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    margin-right: calc(20% - 40px - 8pt);

    button {
      margin: 0;
      padding: 0;
      font-size: inherit;
      text-decoration: underline;
    }
  }

  .comments-header {
    margin-top: 6%;
    margin-left: 25pt;
    font-family: 'Forum';
    font-size: 3.5rem;
  }

  .comments {
    width: 60%;
    margin: 4% 20% 0;

    .write {
      width: 100%;
      position: relative;

      input {
        width: calc(100% - 120px);
        background: none;
        border: none;
        border-bottom: 2.5pt solid $white;
        font-family: 'Markazi text';
        font-size: 1.8rem;
        line-height: 1rem;
        padding: 0.1rem 70px 0.1rem 0;
        margin: 0;
      }

      .char-limit {
        position: absolute;
        top: 0.1rem;
        right: 50px;
        font-size: 1.6rem;
        opacity: 0.8;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        fill: $white;
        margin: 0;
        padding: 0;
        cursor: pointer;
        svg {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}
