@import '../variables';

.popup {
  position: absolute;
  top: 1%;
  left: 1%;
  font-family: 'Forum';
  font-size: 1.3rem;

  .popup-line {
    display: block;
    height: 2.5pt;
    background: $white;
  }
  svg {
    stroke: $white;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 32px;
    vertical-align: middle;
    margin-bottom: 6px;
    line {
      fill: none;
      stroke: $white;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 32px;
    }
  }
}
